gmlapplicatieschema/2.2.0/IMAER.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:IMAER="http://imaer.aerius.nl/2.2" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0" elementFormDefault="qualified" targetNamespace="http://imaer.aerius.nl/2.2" version="2.2.0">
  <annotation>
    <documentation>Dit model beschrijft het InformatieModel AERius (IMAER). IMAER is het standaard gegevens uitwisselingsformaat van AERIUS en wordt gebruikt voor het importeren, exporteren en uitwisselen van gegevens met en tussen de verschillende AERIUS producten (o.a. Calculator, Monitor en Register).  

In IMAER zijn de objecten opgenomen die nodig zijn voor het berekenen van emissie en depositie van verschillende stoffen. In het model zijn de beschrijvingen van de objecten, de relaties tussen de objecten en de attributen opgenomen.</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="http://www.opengis.net/gmlsf/2.0" schemaLocation="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <annotation>
    <appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
      <gmlsf:ComplianceLevel>2</gmlsf:ComplianceLevel>
    </appinfo>
  </annotation>
  <element name="FeatureCollectionCalculator" type="IMAER:FeatureCollectionCalculatorType" substitutionGroup="gml:AbstractFeature"/>
  <complexType name="FeatureCollectionCalculatorType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence minOccurs="0" maxOccurs="unbounded">
          <element name="metadata" type="IMAER:AeriusCalculatorMetadataPropertyType" minOccurs="0"/>
          <element name="featureMember" minOccurs="0" maxOccurs="unbounded">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence>
                    <element ref="IMAER:GeoObject"/>
                  </sequence>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="AdditionalLodgingSystem" substitutionGroup="IMAER:LodgingSystem" type="IMAER:AdditionalLodgingSystemType">
    <annotation>
      <documentation>Extra staltechniek beschrijving.
NOTE Deze klasse beschrijft een extra staltechniek die bij een bestaande stal gebruikt kan worden, gebruik makend van een voorgedefinieerde code. Dit kan voor een gedeelte van de aangegeven dieren gelden.</documentation>
    </annotation>
  </element>
  <complexType name="AdditionalLodgingSystemType">
    <complexContent>
      <extension base="IMAER:LodgingSystemType">
        <sequence>
          <element name="numberOfAnimals" type="integer">
            <annotation>
              <documentation>Aantal dieren waarvoor deze extra techniek geldt. Zou niet meer moeten zijn dan het totaal aantal dieren van de FarmLodging waarbij deze techniek gebruikt wordt.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AdditionalLodgingSystemPropertyType">
    <sequence>
      <element ref="IMAER:AdditionalLodgingSystem"/>
    </sequence>
  </complexType>
  <element name="Address" substitutionGroup="gml:AbstractObject" type="IMAER:AddressType">
    <annotation>
      <documentation>Een adres (bijvoorbeeld voor inrichtingslocatie).
NOTE Dit data type bevat de standaard onderdelen van een adres.</documentation>
    </annotation>
  </element>
  <complexType name="AddressType">
    <sequence>
      <element name="streetAddress" type="string">
        <annotation>
          <documentation>Straat en huisnummer.</documentation>
        </annotation>
      </element>
      <element name="postcode" type="string">
        <annotation>
          <documentation>Postcode.</documentation>
        </annotation>
      </element>
      <element name="city" type="string">
        <annotation>
          <documentation>Plaats.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="AddressPropertyType">
    <sequence>
      <element ref="IMAER:Address"/>
    </sequence>
  </complexType>
  <element name="AeriusCalculatorMetadata" substitutionGroup="gml:AbstractObject" type="IMAER:AeriusCalculatorMetadataType">
    <annotation>
      <documentation>Metadata over de AERIUS calculator die de GML geproduceerd heeft en het vastgelegde project.
NOTE Met behulp van deze metadata wordt vastgelegd met welke versies van software en onderliggende basisgegevens het GML bestand is gegenereerd. Tevens kan er projectinformatie over de emissiebronnen vastgelegd worden,</documentation>
    </annotation>
  </element>
  <complexType name="AeriusCalculatorMetadataType">
    <sequence>
      <element name="project" type="IMAER:ProjectMetadataPropertyType">
        <annotation>
          <documentation>Metadata over het beschreven project.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="situation" type="IMAER:SituationMetadataPropertyType">
        <annotation>
          <documentation>Metadata over de beschreven situatie.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="calculation" type="IMAER:CalculationMetadataPropertyType">
        <annotation>
          <documentation>Metadata over de berekening.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="version" type="IMAER:VersionMetadataPropertyType">
        <annotation>
          <documentation>Metadata over de gebruikte versies.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="AeriusCalculatorMetadataPropertyType">
    <sequence>
      <element ref="IMAER:AeriusCalculatorMetadata"/>
    </sequence>
  </complexType>
  <element name="Building" substitutionGroup="gml:AbstractObject" type="IMAER:BuildingType">
    <annotation>
      <documentation>Dit datatype beschrijft de karakteristieken van het gebouw van een emissiebron.
NOTE Als voor een emissiebron sprake is van een gebouw, dan kan dit worden beschreven aan de hand van een aantal karakteristieken, die in dit separate datatype zijn vastgelegd.</documentation>
    </annotation>
  </element>
  <complexType name="BuildingType">
    <sequence>
      <element name="height" type="double">
        <annotation>
          <documentation>(Gemiddelde) gebouwhoogte in meters.</documentation>
        </annotation>
      </element>
      <element name="width" type="double">
        <annotation>
          <documentation>(Gemiddelde) gebouwbreedte in meters.</documentation>
        </annotation>
      </element>
      <element name="length" type="double">
        <annotation>
          <documentation>(Gemiddelde) gebouwlengte in meters.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="orientation" type="double">
        <annotation>
          <documentation>Orientatie van het gebouw in graden. Dit is de hoek tussen de lange zijde van het gebouw en het oosten. Bij 0 graden is de orientatie oost-west.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="BuildingPropertyType">
    <sequence>
      <element ref="IMAER:Building"/>
    </sequence>
  </complexType>
  <element name="CalculatedHeatContent" substitutionGroup="IMAER:HeatContent" type="IMAER:CalculatedHeatContentType">
    <annotation>
      <documentation>Dit datatype beschrijft de warmteinhoud wanneer deze door het berekend moet worden.
NOTE Aan de hand van de opgegeven waardes kan de warmteinhoud door het model bepaald worden.</documentation>
    </annotation>
  </element>
  <complexType name="CalculatedHeatContentType">
    <complexContent>
      <extension base="IMAER:HeatContentType">
        <sequence>
          <element name="emissionTemperature" type="double">
            <annotation>
              <documentation>Emissie temperatuur in graden celsius. Dit moet hoger zijn dan de gemiddelde omgevingstemperatuur (rond de 12 graden).</documentation>
            </annotation>
          </element>
          <element name="outflowDiameter" type="double">
            <annotation>
              <documentation>De diameter van de uitstroom, in meter.</documentation>
            </annotation>
          </element>
          <element name="outflowVelocity" type="double">
            <annotation>
              <documentation>De uitstroom snelheid, in meter/seconde.</documentation>
            </annotation>
          </element>
          <element name="outflowDirection" type="IMAER:OutflowDirectionTypeType">
            <annotation>
              <documentation>De uitstroom richting.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CalculatedHeatContentPropertyType">
    <sequence>
      <element ref="IMAER:CalculatedHeatContent"/>
    </sequence>
  </complexType>
  <element name="CalculationMetadata" substitutionGroup="gml:AbstractObject" type="IMAER:CalculationMetadataType">
    <annotation>
      <documentation>Metadata over de berekening / rekenresultaten.
NOTE Met behulp van dit metadata object kan er informatie over de berekening vastgelegd worden.</documentation>
    </annotation>
  </element>
  <complexType name="CalculationMetadataType">
    <sequence>
      <element name="type" type="IMAER:CalculationTypeType">
        <annotation>
          <documentation>Gebruikte berekeningtype.</documentation>
        </annotation>
      </element>
      <element maxOccurs="unbounded" name="substance" type="IMAER:SubstanceType">
        <annotation>
          <documentation>Berekende stoffen.</documentation>
        </annotation>
      </element>
      <element maxOccurs="unbounded" name="resultType" type="IMAER:ResultTypeType">
        <annotation>
          <documentation>Berekende resultat types.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="maximumRange" type="double">
        <annotation>
          <documentation>Maximum straal in km waarbinnen berekend is.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="researchArea" type="boolean">
        <annotation>
          <documentation>Indicatie of het om een onderzoeksgebied berekening ging.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="CalculationMetadataPropertyType">
    <sequence>
      <element ref="IMAER:CalculationMetadata"/>
    </sequence>
  </complexType>
  <element name="CalculationPoint" substitutionGroup="IMAER:CalculationPointType" type="IMAER:CalculationPointType">
    <annotation>
      <documentation>Zelfgedefinieerd rekenpunt.
NOTE Deze klasse beschrijft een zelfgedefinieerd rekenpunt.</documentation>
    </annotation>
  </element>
  <complexType name="CalculationPointType">
    <complexContent>
      <extension base="IMAER:CalculationPointTypeType">
        <sequence>
          <element minOccurs="0" name="label" type="string">
            <annotation>
              <documentation>Een optioneel label voor het rekenpunt.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CalculationPointPropertyType">
    <sequence minOccurs="0">
      <element ref="IMAER:CalculationPoint"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="CalculationPointType" substitutionGroup="IMAER:GeoObject" type="IMAER:CalculationPointTypeType">
    <annotation>
      <documentation>Abstracte basisklasse voor de beschrijving van rekenpunten.
NOTE Er zijn verschillende soorten rekenpunten in het model aanwezig. Deze abstracte basisklasse is een generalisatie van de verschillende typen in dit model.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="CalculationPointTypeType">
    <complexContent>
      <extension base="IMAER:GeoObjectType">
        <sequence>
          <element name="identifier" type="IMAER:NEN3610IDPropertyType">
            <annotation>
              <documentation>identificatie: Unieke identificatie van het object binnen het domein van NEN 3610.</documentation>
            </annotation>
          </element>
          <element name="GM_Point" type="gml:PointPropertyType">
            <annotation>
              <documentation>Geometrie van het rekenpunt.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="representation" type="gml:SurfacePropertyType">
            <annotation>
              <documentation>Geometrische representatie van het rekenpunt.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="result" type="IMAER:ResultPropertyType">
            <annotation>
              <documentation>Deposities van het rekenpunt.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CalculationPointTypePropertyType">
    <sequence minOccurs="0">
      <element ref="IMAER:CalculationPointType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="CalculationTypeType">
    <annotation>
      <documentation>Lijst met verschillende rekentypes.
NOTE Het bepalen van receptoren/rekenpunten van een berekening kan op verschillende manieren gebeuren. Deze manieren liggen hierin vast.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="PERMIT">
        <annotation>
          <documentation>Berekening van receptoren volgens de Wet natuurbescherming.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NATURE_AREA">
        <annotation>
          <documentation>Berekening gebruikt hexagonen die natuurgebieden bevatten binnen opgegeven straal.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="RADIUS">
        <annotation>
          <documentation>Berekening gebruikt hexagonen binnen opgegeven straal.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CUSTOM_POINTS">
        <annotation>
          <documentation>Berekening gebruikt door de gebruiker gedefinieerde punten (CalculationPoint).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="ConsumptionOffRoadVehicleSpecification" substitutionGroup="IMAER:OffRoadVehicleSpecification" type="IMAER:ConsumptionOffRoadVehicleSpecificationType">
    <annotation>
      <documentation>Klasse voor een specificatie voor de emissie van een eigen gedefinieerde mobiele werktuig bron aan de hand van het verbruik.
NOTE Voor het bepalen van de emissie van mobiel werktuig kan gekeken worden naar het gebruik van dat voertuig. De karakteristieken in dit type worden daarbij gebruikt.</documentation>
    </annotation>
  </element>
  <complexType name="ConsumptionOffRoadVehicleSpecificationType">
    <complexContent>
      <extension base="IMAER:OffRoadVehicleSpecificationType">
        <sequence>
          <element name="emissionFactor" type="double">
            <annotation>
              <documentation>De emissiefactor NOx van het voertuig, in g/kWh.</documentation>
            </annotation>
          </element>
          <element name="energyEfficiency" type="integer">
            <annotation>
              <documentation>Rendement: brandstof in grammen brandstof per geleverde kilowattuur , in g/kWh.</documentation>
            </annotation>
          </element>
          <element name="consumption" type="integer">
            <annotation>
              <documentation>Brandstofverbruik, in liters per jaar.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConsumptionOffRoadVehicleSpecificationPropertyType">
    <sequence>
      <element ref="IMAER:ConsumptionOffRoadVehicleSpecification"/>
    </sequence>
  </complexType>
  <element name="CustomFarmLodging" substitutionGroup="IMAER:FarmLodging" type="IMAER:CustomFarmLodgingType">
    <annotation>
      <documentation>Zelfgedefinieerde stal.
NOTE Deze klasse beschrijft een zelfgedefinieerde stal.</documentation>
    </annotation>
  </element>
  <complexType name="CustomFarmLodgingType">
    <complexContent>
      <extension base="IMAER:FarmLodgingType">
        <sequence>
          <element name="description" type="string">
            <annotation>
              <documentation>Beschrijving van de stal.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="emissionFactor" type="IMAER:EmissionPropertyType">
            <annotation>
              <documentation>De emissiefactor(en) per dierplaats per jaar die gehanteerd moet worden.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomFarmLodgingPropertyType">
    <sequence>
      <element ref="IMAER:CustomFarmLodging"/>
    </sequence>
  </complexType>
  <element name="CustomOffRoadMobileSource" substitutionGroup="IMAER:OffRoadMobileSource" type="IMAER:CustomOffRoadMobileSourceType">
    <annotation>
      <documentation>Eigen gedefinieerd mobiele werktuig bron.
NOTE Deze klasse beschrijft een eigen gedefinieerde mobiel werktuig bron, met gesommeerd de emissie en de verdere eigenschappen die van belang zijn voor de verschillende berekeningen.</documentation>
    </annotation>
  </element>
  <complexType name="CustomOffRoadMobileSourceType">
    <complexContent>
      <extension base="IMAER:OffRoadMobileSourceType">
        <sequence>
          <element maxOccurs="unbounded" name="emission" type="IMAER:EmissionPropertyType">
            <annotation>
              <documentation>Totale emissie van een mobiele werktuig bron in een jaar.</documentation>
            </annotation>
          </element>
          <element name="emissionSourceCharacteristics" type="IMAER:EmissionSourceCharacteristicsPropertyType">
            <annotation>
              <documentation>Karakteristieken van een mobiele werktuig bron.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="offRoadVehicleSpecification" type="IMAER:OffRoadVehicleSpecificationPropertyType">
            <annotation>
              <documentation>Eigenschappen gebruikt om tot de emissie van deze bron te komen.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomOffRoadMobileSourcePropertyType">
    <sequence>
      <element ref="IMAER:CustomOffRoadMobileSource"/>
    </sequence>
  </complexType>
  <element name="CustomVehicle" substitutionGroup="IMAER:Vehicle" type="IMAER:CustomVehicleType">
    <annotation>
      <documentation>Karakteristieken van een emissietype zelfgedefinieerd wegvervoer.
NOTE Ieder wegvervoer emissietype wordt beschreven aan de hand van een aantal karakteristieken, die in dit separate datatype zijn vastgelegd.</documentation>
    </annotation>
  </element>
  <complexType name="CustomVehicleType">
    <complexContent>
      <extension base="IMAER:VehicleType">
        <sequence>
          <element name="description" type="string">
            <annotation>
              <documentation>Karakteristieken van de eigen gespecficieerd voertuigen.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="emission" type="IMAER:EmissionPropertyType">
            <annotation>
              <documentation>De emissie in g/km per voertuig.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CustomVehiclePropertyType">
    <sequence>
      <element ref="IMAER:CustomVehicle"/>
    </sequence>
  </complexType>
  <element name="Emission" substitutionGroup="IMAER:EmissionValueType" type="IMAER:EmissionType">
    <annotation>
      <documentation>Karakteristieken van een depositie waarde.
NOTE De depositieresulaten beschrijving van een rekenpunt.</documentation>
    </annotation>
  </element>
  <complexType name="EmissionType">
    <complexContent>
      <extension base="IMAER:EmissionValueTypeType">
        <sequence>
          <element name="value" type="double">
            <annotation>
              <documentation>Emissiewaarde.</documentation>
            </annotation>
          </element>
        </sequence>
        <attribute name="substance" type="IMAER:SubstanceType" use="required">
          <annotation>
            <documentation>Emissiestof.</documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EmissionPropertyType">
    <sequence>
      <element ref="IMAER:Emission"/>
    </sequence>
  </complexType>
  <element name="EmissionSource" substitutionGroup="IMAER:EmissionSourceType" type="IMAER:EmissionSourceType">
    <annotation>
      <documentation>Generieke emissiebron.
NOTE Deze klasse beschrijft een generieke emissiebron inclusief geometrie.</documentation>
    </annotation>
  </element>
  <complexType name="EmissionSourceType">
    <complexContent>
      <extension base="IMAER:EmissionSourceTypeType">
        <sequence>
          <element maxOccurs="unbounded" name="emission" type="IMAER:EmissionPropertyType">
            <annotation>
              <documentation>Emissietypen van de emissiebron.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EmissionSourcePropertyType">
    <sequence minOccurs="0">
      <element ref="IMAER:EmissionSource"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="EmissionSourceCharacteristics" substitutionGroup="gml:AbstractObject" type="IMAER:EmissionSourceCharacteristicsType">
    <annotation>
      <documentation>Dit datatype beschrijft de karakteristieken van een emissiebron.
NOTE Iedere emissiebron wordt beschreven aan de hand van een aantal karakteristieken, die in dit separate datatype zijn vastgelegd.</documentation>
    </annotation>
  </element>
  <complexType name="EmissionSourceCharacteristicsType">
    <sequence>
      <element name="heatContent" type="IMAER:HeatContentPropertyType">
        <annotation>
          <documentation>Warmteinhoud van de emissiebron.</documentation>
        </annotation>
      </element>
      <element name="emissionHeight" type="double">
        <annotation>
          <documentation>Gemiddelde uitstoothoogte van de emissiebron in meters.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="spread" type="double">
        <annotation>
          <documentation>Spreiding van de emissiebron in meters. Alleen te gebruiken bij puntbronnen met een hoogte.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="diurnalVariation" type="string">
        <annotation>
          <documentation>Temporele variatie van de emissie van de bron.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="building" type="IMAER:BuildingPropertyType">
        <annotation>
          <documentation>De karakteristieken van het gebouw.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="EmissionSourceCharacteristicsPropertyType">
    <sequence>
      <element ref="IMAER:EmissionSourceCharacteristics"/>
    </sequence>
  </complexType>
  <element name="EmissionSourceGeometry" substitutionGroup="gml:AbstractObject" type="IMAER:EmissionSourceGeometryType">
    <annotation>
      <documentation>Mogelijke geometrieën van een emissiebron.
NOTE Dit datatype maakt een keuze mogelijk uit verschillende soorten geometrieën die een emissiebron kan aannemen.</documentation>
    </annotation>
  </element>
  <complexType name="EmissionSourceGeometryType">
    <choice>
      <element name="GM_Point" type="gml:PointPropertyType">
        <annotation>
          <documentation>NEN 3610 punt.</documentation>
        </annotation>
      </element>
      <element name="GM_Curve" type="gml:CurvePropertyType">
        <annotation>
          <documentation>NEN 3610 lijn.</documentation>
        </annotation>
      </element>
      <element name="GM_Surface" type="gml:SurfacePropertyType">
        <annotation>
          <documentation>NEN 3610 vlak.</documentation>
        </annotation>
      </element>
    </choice>
  </complexType>
  <complexType name="EmissionSourceGeometryPropertyType">
    <sequence>
      <element ref="IMAER:EmissionSourceGeometry"/>
    </sequence>
  </complexType>
  <element abstract="true" name="EmissionSourceType" substitutionGroup="IMAER:GeoObject" type="IMAER:EmissionSourceTypeType">
    <annotation>
      <documentation>Abstracte basisklasse voor de beschrijving van emissiebronnen.
NOTE Er zijn verschillende soorten emissiebronnen in het model aanwezig. Deze abstracte basisklasse is een generalisatie van de verschillende soorten emissiebronnen in het model. De geometrie van deze bronnen is opgenomen bij de onderliggende soorten, omdat deze verschillen per type bron.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="EmissionSourceTypeType">
    <complexContent>
      <extension base="IMAER:GeoObjectType">
        <sequence>
          <element name="identifier" type="IMAER:NEN3610IDPropertyType">
            <annotation>
              <documentation>identificatie: Unieke identificatie van de emissiebron binnen het domein van NEN 3610.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="label" type="string">
            <annotation>
              <documentation>Een optioneel label voor de emissiebron.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="emissionSourceCharacteristics" type="IMAER:EmissionSourceCharacteristicsPropertyType">
            <annotation>
              <documentation>Karakteristieken van een emissiebron.</documentation>
            </annotation>
          </element>
          <element name="geometry" type="IMAER:EmissionSourceGeometryPropertyType">
            <annotation>
              <documentation>De geometrie van de emissiebron.</documentation>
            </annotation>
          </element>
        </sequence>
        <attribute name="sectorId" type="integer" use="required">
          <annotation>
            <documentation>Identificatienummer van de sector waartoe de emissiebron behoord.</documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EmissionSourceTypePropertyType">
    <sequence minOccurs="0">
      <element ref="IMAER:EmissionSourceType"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="EmissionValueType" substitutionGroup="gml:AbstractObject" type="IMAER:EmissionValueTypeType">
    <annotation>
      <documentation>De emissiewaarde van een emissiebron.
NOTE De emissiewaarde van een emissiebron.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="EmissionValueTypeType">
    <sequence/>
  </complexType>
  <complexType name="EmissionValueTypePropertyType">
    <sequence>
      <element ref="IMAER:EmissionValueType"/>
    </sequence>
  </complexType>
  <element abstract="true" name="FarmLodging" substitutionGroup="IMAER:EmissionValueType" type="IMAER:FarmLodgingType">
    <annotation>
      <documentation>Abstracte basisklasse voor de beschrijving van stallen.
NOTE Er zijn verschillende soorten stallen in het model aanwezig. Deze abstracte basisklasse is een generalisatie van de verschillende typen in het model.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="FarmLodgingType">
    <complexContent>
      <extension base="IMAER:EmissionValueTypeType">
        <sequence>
          <element name="numberOfAnimals" type="integer">
            <annotation>
              <documentation>Aantal dieren in deze stal.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FarmLodgingPropertyType">
    <sequence>
      <element ref="IMAER:FarmLodging"/>
    </sequence>
  </complexType>
  <element name="FarmLodgingEmissionSource" substitutionGroup="IMAER:EmissionSourceType" type="IMAER:FarmLodgingEmissionSourceType">
    <annotation>
      <documentation>Emissiebron van een stal.
NOTE Deze klasse beschrijft een stal inclusief geometrie.</documentation>
    </annotation>
  </element>
  <complexType name="FarmLodgingEmissionSourceType">
    <complexContent>
      <extension base="IMAER:EmissionSourceTypeType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="emission" type="IMAER:EmissionPropertyType">
            <annotation>
              <documentation>Emissietypen van de stal.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="farmLodging" type="IMAER:FarmLodgingPropertyType">
            <annotation>
              <documentation>Staltypen.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FarmLodgingEmissionSourcePropertyType">
    <sequence minOccurs="0">
      <element ref="IMAER:FarmLodgingEmissionSource"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="GeoObject" substitutionGroup="gml:AbstractFeature" type="IMAER:GeoObjectType">
    <annotation>
      <documentation>Geo-object: Abstractie van een fenomeen in de werkelijkheid, dat direct of indirect is geassocieerd met een locatie relatief ten opzichte van de aarde
NOTE Van deze klasse worden geen instanties gemaakt. Indien een object een geo-object is, is het altijd een instantie van een subklasse van GeoObject.
Alle subklassen van GeoObject hebben conform NEN-EN-ISO 19109:2005 het stereotype «featureType».</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="GeoObjectType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GeoObjectPropertyType">
    <sequence minOccurs="0">
      <element ref="IMAER:GeoObject"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="HeatContent" substitutionGroup="gml:AbstractObject" type="IMAER:HeatContentType">
    <annotation>
      <documentation>Dit abstracte datatype kan gebruikt worden om de warmteinhoud te definieren.
NOTE Een karakteristiek van een emissie bron is de warmteinhoud. Dit kan direct ingevuld worden, of deze kan bepaald worden aan de hand van andere karakteristieken. De keuze kan door middel van implementaties van deze klasse gemaakt worden.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="HeatContentType">
    <sequence/>
  </complexType>
  <complexType name="HeatContentPropertyType">
    <sequence>
      <element ref="IMAER:HeatContent"/>
    </sequence>
  </complexType>
  <simpleType name="InlandRouteDirectionTypeType">
    <annotation>
      <documentation>Keuzemogelijkheden voor de richting van aanmerende binnenvaart schepen.
NOTE Per binnenvaart zijn er karateristieken voor zowel de aanmerende als de uitgaande schepen opgegeven.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="ARRIVE">
        <annotation>
          <documentation>Aanmerend.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DEPART">
        <annotation>
          <documentation>Uitgaand.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="InlandShipping" substitutionGroup="IMAER:ShippingType" type="IMAER:InlandShippingType">
    <annotation>
      <documentation>Karakteristieken van een vaarroute voor binnenvaart.
NOTE Ieder binnenvaart emissietype voor routes wordt beschreven aan de hand van een aantal karakteristieken, die in dit datatype zijn vastgelegd.</documentation>
    </annotation>
  </element>
  <complexType name="InlandShippingType">
    <complexContent>
      <extension base="IMAER:ShippingTypeType">
        <sequence>
          <element name="numberOfShipsAtoBperTimeUnit" type="integer">
            <annotation>
              <documentation>Aantal schepen van A naar B per tijdseenheid. Vaarroutes worden van A naar B ingetekend.</documentation>
            </annotation>
          </element>
          <element name="numberOfShipsBtoAperTimeUnit" type="integer">
            <annotation>
              <documentation>Aantal schepen van B naar A per tijdseenheid. Vaarroutes worden van A naar B ingetekend.</documentation>
            </annotation>
          </element>
          <element name="percentageLadenAtoB" type="integer">
            <annotation>
              <documentation>Het percentage van numberOfShipsAtoB wat beladen is.</documentation>
            </annotation>
          </element>
          <element name="percentageLadenBtoA" type="integer">
            <annotation>
              <documentation>Het percentage van numberOfShipsBtoA wat beladen is.</documentation>
            </annotation>
          </element>
          <element name="timeUnitShipsAtoB" type="IMAER:TimeUnitType">
            <annotation>
              <documentation>Tijdseenheid voor het aantal schepen van A naar B.</documentation>
            </annotation>
          </element>
          <element name="timeUnitShipsBtoA" type="IMAER:TimeUnitType">
            <annotation>
              <documentation>Tijdseenheid voor het aantal schepen van B naar A.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InlandShippingPropertyType">
    <sequence>
      <element ref="IMAER:InlandShipping"/>
    </sequence>
  </complexType>
  <element name="InlandShippingEmissionSource" substitutionGroup="IMAER:EmissionSourceType" type="IMAER:InlandShippingEmissionSourceType">
    <annotation>
      <documentation>Emissiebron (vaarroute) van binnenvaart.
NOTE Deze klasse beschrijft een vaarroute voor binnenvaart, inclusief geometrie. De klasse is een specialisatie van EmissionSourceType.</documentation>
    </annotation>
  </element>
  <complexType name="InlandShippingEmissionSourceType">
    <complexContent>
      <extension base="IMAER:EmissionSourceTypeType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="emission" type="IMAER:EmissionPropertyType">
            <annotation>
              <documentation>Emissietypen van deze bron.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="inlandShipping" type="IMAER:InlandShippingPropertyType">
            <annotation>
              <documentation>Specificatie van schepen voor dit emissiebrontype.</documentation>
            </annotation>
          </element>
          <element name="waterway" type="IMAER:InlandWaterwayPropertyType">
            <annotation>
              <documentation>Specificatie van het type waterweg dat gebruikt wordt.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InlandShippingEmissionSourcePropertyType">
    <sequence minOccurs="0">
      <element ref="IMAER:InlandShippingEmissionSource"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="InlandShippingRoute" substitutionGroup="gml:AbstractObject" type="IMAER:InlandShippingRouteType">
    <annotation>
      <documentation>Karakteristieken van een vaarroute voor (aanmerende) binnenvaart.
NOTE Ieder aanmerend binnenvaart emissietype voor routes wordt beschreven aan de hand van een aantal karakteristieken, die in dit datatype zijn vastgelegd.</documentation>
    </annotation>
  </element>
  <complexType name="InlandShippingRouteType">
    <sequence>
      <element name="direction" type="IMAER:InlandRouteDirectionTypeType">
        <annotation>
          <documentation>De vaarrichting (aanmerend/vertrekkend) van de schepen.</documentation>
        </annotation>
      </element>
      <element name="percentageLaden" type="integer">
        <annotation>
          <documentation>Het precentage van het aantal schepen wat beladen is.</documentation>
        </annotation>
      </element>
      <element name="route" type="gml:CurvePropertyType">
        <annotation>
          <documentation>De geometry van de vaarroute.</documentation>
        </annotation>
      </element>
      <element name="shippingMovementsPerTimeUnit" type="integer">
        <annotation>
          <documentation>Het aantal scheepsbewegingen op de vaarroute per tijdseenheid.</documentation>
        </annotation>
      </element>
      <element name="waterway" type="IMAER:InlandWaterwayPropertyType">
        <annotation>
          <documentation>Specificatie van het type waterweg dat gebruikt wordt.</documentation>
        </annotation>
      </element>
      <element name="timeUnit" type="IMAER:TimeUnitType">
        <annotation>
          <documentation>Tijdseenheid voor het aantal scheepsbewegingen op de vaarroute.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="InlandShippingRoutePropertyType">
    <sequence>
      <element ref="IMAER:InlandShippingRoute"/>
    </sequence>
  </complexType>
  <element name="InlandWaterway" substitutionGroup="gml:AbstractObject" type="IMAER:InlandWaterwayType">
    <annotation>
      <documentation>Karakteristieken van een vaarroute voor (aanmerende) binnenvaart.
NOTE Ieder aanmerend binnenvaart emissietype voor routes wordt beschreven aan de hand van een aantal karakteristieken, die in dit datatype zijn vastgelegd.</documentation>
    </annotation>
  </element>
  <complexType name="InlandWaterwayType">
    <sequence>
      <element name="type" type="string">
        <annotation>
          <documentation>Specificatie van het type waterweg dat gebruikt wordt.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="direction" type="IMAER:WaterwayDirectionTypeType">
        <annotation>
          <documentation>Specificatie van de stroom richting van de waterweg. De richting is ten opzichte van de tekenrichting.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="InlandWaterwayPropertyType">
    <sequence>
      <element ref="IMAER:InlandWaterway"/>
    </sequence>
  </complexType>
  <element name="LodgingFodderMeasure" substitutionGroup="gml:AbstractObject" type="IMAER:LodgingFodderMeasureType">
    <annotation>
      <documentation>Extra voer maatregel voor stallen.
NOTE Deze klasse beschrijft een voer maatregel die voor een bestaande stal gebruikt kan worden, gebruik makend van een voorgedefinieerde code. Gebruik van deze maatregel zorgt voor een reductie (percentage) voor alle dieren.</documentation>
    </annotation>
  </element>
  <complexType name="LodgingFodderMeasureType">
    <sequence>
      <element name="fodderMeasureType" type="string">
        <annotation>
          <documentation>Vaststaande code die aangeeft om wat voor voer maatregel het gaat.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="LodgingFodderMeasurePropertyType">
    <sequence>
      <element ref="IMAER:LodgingFodderMeasure"/>
    </sequence>
  </complexType>
  <element abstract="true" name="LodgingSystem" substitutionGroup="gml:AbstractObject" type="IMAER:LodgingSystemType">
    <annotation>
      <documentation>Abstracte basis klasse voor extra staltechnieken.
NOTE Er zijn verschillende soorten extra staltechnieken in het model aanwezig. Deze abstracte basisklasse is een generalisatie van de verschillende typen in het model.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="LodgingSystemType">
    <sequence>
      <element name="lodgingSystemType" type="string">
        <annotation>
          <documentation>Vaststaande code die aangeeft om wat voor extra staltechniek het gaat.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="farmLodgingSystemDefinitionType" type="string">
        <annotation>
          <documentation>Vaststaande (BWL) code die aangeeft om wat voor staltechniek het gaat.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="LodgingSystemPropertyType">
    <sequence>
      <element ref="IMAER:LodgingSystem"/>
    </sequence>
  </complexType>
  <element name="MaritimeShipping" substitutionGroup="IMAER:ShippingType" type="IMAER:MaritimeShippingType">
    <annotation>
      <documentation>Karakteristieken van een emissietype voor scheepvaart.
NOTE Ieder scheepvaart emissietype voor routes wordt beschreven aan de hand van een aantal karakteristieken, die in dit datatype zijn vastgelegd.</documentation>
    </annotation>
  </element>
  <complexType name="MaritimeShippingType">
    <complexContent>
      <extension base="IMAER:ShippingTypeType">
        <sequence>
          <element name="shipsPerTimeUnit" type="integer">
            <annotation>
              <documentation>Aantal schepen op deze vaarroute per tijdseenheid.</documentation>
            </annotation>
          </element>
          <element name="timeUnit" type="IMAER:TimeUnitType">
            <annotation>
              <documentation>Tijdseenheid voor het aantal schepen op deze vaarroute.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MaritimeShippingPropertyType">
    <sequence>
      <element ref="IMAER:MaritimeShipping"/>
    </sequence>
  </complexType>
  <element name="MaritimeShippingEmissionSource" substitutionGroup="IMAER:EmissionSourceType" type="IMAER:MaritimeShippingEmissionSourceType">
    <annotation>
      <documentation>Emissiebron van zeescheepvaart.
NOTE Deze klasse beschrijft een vaarroute voor zeescheepvaart, inclusief geometrie.</documentation>
    </annotation>
  </element>
  <complexType name="MaritimeShippingEmissionSourceType">
    <complexContent>
      <extension base="IMAER:EmissionSourceTypeType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="emission" type="IMAER:EmissionPropertyType">
            <annotation>
              <documentation>Emissietypen van deze bron.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="maritimeShipping" type="IMAER:MaritimeShippingPropertyType">
            <annotation>
              <documentation>Specificatie van schepen voor dit emissietype.</documentation>
            </annotation>
          </element>
        </sequence>
        <attribute name="movementType" type="IMAER:MaritimeShippingMovementTypeType" use="required">
          <annotation>
            <documentation>Type vaarbeweging.</documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MaritimeShippingEmissionSourcePropertyType">
    <sequence minOccurs="0">
      <element ref="IMAER:MaritimeShippingEmissionSource"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="MaritimeShippingMovementTypeType">
    <annotation>
      <documentation>Lijst met verschillende beweging types voor scheepvaart.
NOTE Voor vaarroutes zijn verschillende mogelijkheden voor het type beweging. De mogelijkheden zijn hier in een lijst vastgelegd.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="INLAND">
        <annotation>
          <documentation>Varend binnengaats.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MARITIME">
        <annotation>
          <documentation>Varend op zee.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="MaritimeShippingRoute" substitutionGroup="gml:AbstractObject" type="IMAER:MaritimeShippingRouteType">
    <annotation>
      <documentation>Karakteristieken van een vaarroute voor scheepvaart.
NOTE Ieder scheepvaart emissietype voor routes wordt beschreven aan de hand van een aantal karakteristieken, die in dit datatype zijn vastgelegd.</documentation>
    </annotation>
  </element>
  <complexType name="MaritimeShippingRouteType">
    <sequence>
      <element name="shippingMovementsPerTimeUnit" type="integer">
        <annotation>
          <documentation>Het aantal scheepsbewegingen op de vaarroute per tijdseenheid.</documentation>
        </annotation>
      </element>
      <element name="route" type="gml:CurvePropertyType">
        <annotation>
          <documentation>De geometry van de vaarroute.</documentation>
        </annotation>
      </element>
      <element name="timeUnit" type="IMAER:TimeUnitType">
        <annotation>
          <documentation>Tijdseenheid voor het aantal scheepsbewegingen op de vaarroute.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="MaritimeShippingRoutePropertyType">
    <sequence>
      <element ref="IMAER:MaritimeShippingRoute"/>
    </sequence>
  </complexType>
  <element name="MooringInlandShipping" substitutionGroup="IMAER:ShippingType" type="IMAER:MooringInlandShippingType">
    <annotation>
      <documentation>Karakteristieken van een aanlegplaats voor binnenvaart.
NOTE Iedere aanlegplaats emissietype voor binnenvaartwordt beschreven aan de hand van een aantal karakteristieken. Deze zijn in dit datatype zijn vastgelegd.</documentation>
    </annotation>
  </element>
  <complexType name="MooringInlandShippingType">
    <complexContent>
      <extension base="IMAER:ShippingTypeType">
        <sequence>
          <element name="averageResidenceTime" type="integer">
            <annotation>
              <documentation>De gemiddelde verblijftijd van de schepen aan de kade.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="route" type="IMAER:InlandShippingRoutePropertyType">
            <annotation>
              <documentation>De route die de schepen vanaf de kade nemen.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MooringInlandShippingPropertyType">
    <sequence>
      <element ref="IMAER:MooringInlandShipping"/>
    </sequence>
  </complexType>
  <element name="MooringInlandShippingEmissionSource" substitutionGroup="IMAER:EmissionSourceType" type="IMAER:MooringInlandShippingEmissionSourceType">
    <annotation>
      <documentation>Emissiebron van binnenvaart (aanlegplaats).
NOTE Deze klasse beschrijft een aanlegplaats inclusief geometrie en vaarroute voor binnenvaart.</documentation>
    </annotation>
  </element>
  <complexType name="MooringInlandShippingEmissionSourceType">
    <complexContent>
      <extension base="IMAER:EmissionSourceTypeType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="emission" type="IMAER:EmissionPropertyType">
            <annotation>
              <documentation>Emissietypen van deze bron.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="mooringInlandShipping" type="IMAER:MooringInlandShippingPropertyType">
            <annotation>
              <documentation>Specificatie van schepen voor dit emissietype.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MooringInlandShippingEmissionSourcePropertyType">
    <sequence minOccurs="0">
      <element ref="IMAER:MooringInlandShippingEmissionSource"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="MooringMaritimeShipping" substitutionGroup="IMAER:ShippingType" type="IMAER:MooringMaritimeShippingType">
    <annotation>
      <documentation>Karakteristieken van een emissietype voor scheepvaart.
NOTE Ieder scheepvaart emissietype voor aanlegplaatsen wordt beschreven aan de hand van een aantal karakteristieken. Deze zijn in dit datatype zijn vastgelegd.</documentation>
    </annotation>
  </element>
  <complexType name="MooringMaritimeShippingType">
    <complexContent>
      <extension base="IMAER:ShippingTypeType">
        <sequence>
          <element name="shipsPerTimeUnit" type="integer">
            <annotation>
              <documentation>Het aantal schepen per tijdseenheid.</documentation>
            </annotation>
          </element>
          <element name="averageResidenceTime" type="integer">
            <annotation>
              <documentation>De gemiddelde verblijftijd van de schepen aan de kade.</documentation>
            </annotation>
          </element>
          <element name="inlandRoute" type="gml:CurvePropertyType">
            <annotation>
              <documentation>De route die de schepen binnengaats(tot aan zee) nemen.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="maritimeRoute" type="IMAER:MaritimeShippingRoutePropertyType">
            <annotation>
              <documentation>De route die de schepen buitengaats (op zee) nemen.</documentation>
            </annotation>
          </element>
          <element name="timeUnit" type="IMAER:TimeUnitType">
            <annotation>
              <documentation>Tijdseenheid voor het aantal schepen.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MooringMaritimeShippingPropertyType">
    <sequence>
      <element ref="IMAER:MooringMaritimeShipping"/>
    </sequence>
  </complexType>
  <element name="MooringMaritimeShippingEmissionSource" substitutionGroup="IMAER:EmissionSourceType" type="IMAER:MooringMaritimeShippingEmissionSourceType">
    <annotation>
      <documentation>Emissiebron van zeescheepvaart.
NOTE Deze klasse beschrijft een kade voor zeescheepvaart inclusief geometrie.</documentation>
    </annotation>
  </element>
  <complexType name="MooringMaritimeShippingEmissionSourceType">
    <complexContent>
      <extension base="IMAER:EmissionSourceTypeType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="emission" type="IMAER:EmissionPropertyType">
            <annotation>
              <documentation>Emissietypen van deze bron.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="mooringMaritimeShipping" type="IMAER:MooringMaritimeShippingPropertyType">
            <annotation>
              <documentation>Specificatie van schepen voor dit emissietype.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MooringMaritimeShippingEmissionSourcePropertyType">
    <sequence minOccurs="0">
      <element ref="IMAER:MooringMaritimeShippingEmissionSource"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="NEN3610ID" substitutionGroup="gml:AbstractObject" type="IMAER:NEN3610IDType">
    <annotation>
      <documentation>Identificatiegegevens voor de universeel unieke identificatie van een object
NOTE De combinatie van 'namespace' van een registratie, lokale identificatie en versie informatie maken een object uniek identificeerbaar. Met de informatie van deze klasse kan daardoor met zekerheid worden verwezen naar het geïdentificeerde object.</documentation>
    </annotation>
  </element>
  <complexType name="NEN3610IDType">
    <sequence>
      <element name="namespace" type="string">
        <annotation>
          <documentation>Unieke verwijzing naar een registratie van objecten
NOTE Het attribuut 'namespace' is een unieke verwijzing naar de registratie die de identificatie uitdeelt. Deze lijst van registraties wordt beheerd binnen de context van NEN 3610. Binnen Nederland zal deze namespace vrijwel altijd met 'NL.' beginnen.
De volgende karakters mogen in een namespace aanduiding voorkomen: {"A"..."Z", "a"..."z", "0"..."9", "_", "-", ",", "."}</documentation>
        </annotation>
      </element>
      <element name="localId" type="string">
        <annotation>
          <documentation>Unieke identificatiecode binnen een registratie
NOTE 'LocalId' is de identificatiecode die een object heeft binnen een (lokale) registratie.
De volgende karakters mogen in een localId voorkomen: {"A"..."Z", "a"..."z", "0"..."9", "_", "-", ",", "."}.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="versionId" type="string">
        <annotation>
          <documentation>Versie-aanduiding van een object
NOTE Het attribuut 'versionId' maakt geen deel uit van de identificatie van het object maar kan worden gebruikt om verschillende versies van hetzelfde object te identificeren.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="NEN3610IDPropertyType">
    <sequence>
      <element ref="IMAER:NEN3610ID"/>
    </sequence>
  </complexType>
  <element abstract="true" name="OffRoadMobileSource" substitutionGroup="IMAER:EmissionValueType" type="IMAER:OffRoadMobileSourceType">
    <annotation>
      <documentation>Abstracte basisklasse voor de beschrijving van mobiele werktuig bronnen.
NOTE Er zijn verschillende soorten mobiele werktuig beschrijvingen in het model aanwezig. Deze abstracte basisklasse is een generalisatie van de verschillende typen in het model.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="OffRoadMobileSourceType">
    <complexContent>
      <extension base="IMAER:EmissionValueTypeType">
        <sequence>
          <element name="description" type="string">
            <annotation>
              <documentation>Beschrijving van het voertuig type.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OffRoadMobileSourcePropertyType">
    <sequence>
      <element ref="IMAER:OffRoadMobileSource"/>
    </sequence>
  </complexType>
  <element name="OffRoadMobileSourceEmissionSource" substitutionGroup="IMAER:EmissionSourceType" type="IMAER:OffRoadMobileSourceEmissionSourceType">
    <annotation>
      <documentation>Emissiebron van mobiele werktuigen.
NOTE Deze klasse beschrijft een verzameling mobiele werktuigen inclusief geometrie.</documentation>
    </annotation>
  </element>
  <complexType name="OffRoadMobileSourceEmissionSourceType">
    <complexContent>
      <extension base="IMAER:EmissionSourceTypeType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="emission" type="IMAER:EmissionPropertyType">
            <annotation>
              <documentation>Emissietypen van deze bron.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="offRoadMobileSource" type="IMAER:OffRoadMobileSourcePropertyType">
            <annotation>
              <documentation>Specificatie van mobiele werktuigen voor dit emissietype.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OffRoadMobileSourceEmissionSourcePropertyType">
    <sequence minOccurs="0">
      <element ref="IMAER:OffRoadMobileSourceEmissionSource"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="OffRoadVehicleSpecification" substitutionGroup="gml:AbstractObject" type="IMAER:OffRoadVehicleSpecificationType">
    <annotation>
      <documentation>Abstracte basisklasse van een specificatie voor de emissie van een eigen gedefinieerde mobiele werktuig bron.
NOTE Voor het bepalen van de emissie van mobiel werktuig kunnen verschillende rekenmethodes gebruikt worden. Deze methodes liggen vast in de onderliggende types.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="OffRoadVehicleSpecificationType">
    <sequence>
      <element name="fuelType" type="string">
        <annotation>
          <documentation>Vaststaande code die aangeeft wat voor brandstof gebruikt wordt door het voertuig.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="OffRoadVehicleSpecificationPropertyType">
    <sequence>
      <element ref="IMAER:OffRoadVehicleSpecification"/>
    </sequence>
  </complexType>
  <element name="OperatingHoursOffRoadVehicleSpecification" substitutionGroup="IMAER:OffRoadVehicleSpecification" type="IMAER:OperatingHoursOffRoadVehicleSpecificationType">
    <annotation>
      <documentation>Klasse voor een specificatie voor de emissie van een eigen gedefinieerde mobiele werktuig bron aan de hand van de operationele uren.
NOTE Voor het bepalen van de emissie van mobiel werktuig kan gekeken worden naar de operationele uren van dat voertuig. De karakteristieken in dit type worden daarbij gebruikt.</documentation>
    </annotation>
  </element>
  <complexType name="OperatingHoursOffRoadVehicleSpecificationType">
    <complexContent>
      <extension base="IMAER:OffRoadVehicleSpecificationType">
        <sequence>
          <element name="emissionFactor" type="double">
            <annotation>
              <documentation>De emissiefactor NOx van het voertuig, in g/kWh.</documentation>
            </annotation>
          </element>
          <element name="load" type="integer">
            <annotation>
              <documentation>Het gedeelte van het volle vermogen van dit mobiele werktuig dat daadwerkelijk wordt gebruikt, in percentages.</documentation>
            </annotation>
          </element>
          <element name="power" type="integer">
            <annotation>
              <documentation>Het gemiddelde volle vermogen van dit mobiele werktuig, in kW.</documentation>
            </annotation>
          </element>
          <element name="operatingHours" type="integer">
            <annotation>
              <documentation>Het aantal uren dat dit mobiele werktuig gemiddeld wordt gebruikt, in uren.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OperatingHoursOffRoadVehicleSpecificationPropertyType">
    <sequence>
      <element ref="IMAER:OperatingHoursOffRoadVehicleSpecification"/>
    </sequence>
  </complexType>
  <simpleType name="OutflowDirectionTypeType">
    <annotation>
      <documentation>Keuzemogelijkheden voor de uitstroom richting van emissies.
NOTE In het geval van een emissiebron met een warmteinhoud is het van belang om mee te nemen welke richting de emissie op gedwongen wordt, bijvoorbeeld door een schoorsteen.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="VERTICAL">
        <annotation>
          <documentation>Uitstroom richting wordt verticaal geforceerd.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HORIZONTAL">
        <annotation>
          <documentation>Uitstroom richting wordt horizontaal geforceerd.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="Plan" substitutionGroup="IMAER:EmissionValueType" type="IMAER:PlanType">
    <annotation>
      <documentation>Karakteristieken van ruimtelijke plan ontwikkelingen.
NOTE Iedere ruimtelijk plan ontwikkel bronsoort wordt beschreven aan de hand van een aantal karakteristieken. Deze zijn in dit datatype zijn vastgelegd.</documentation>
    </annotation>
  </element>
  <complexType name="PlanType">
    <complexContent>
      <extension base="IMAER:EmissionValueTypeType">
        <sequence>
          <element name="description" type="string">
            <annotation>
              <documentation>De omschrijving van dit plan.</documentation>
            </annotation>
          </element>
          <element name="amount" type="integer">
            <annotation>
              <documentation>Elk planType heeft een eenheid. De amount is het aantal van deze eenheid.</documentation>
            </annotation>
          </element>
        </sequence>
        <attribute name="planType" type="string" use="required">
          <annotation>
            <documentation>Het type van dit plan.</documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PlanPropertyType">
    <sequence>
      <element ref="IMAER:Plan"/>
    </sequence>
  </complexType>
  <element name="PlanEmissionSource" substitutionGroup="IMAER:EmissionSourceType" type="IMAER:PlanEmissionSourceType">
    <annotation>
      <documentation>Emissiebron definitie van ruimtelijke plan ontwikkelingen.
NOTE Deze klasse beschrijft een verzameling ruimtelijke plan ontwikkelings bronnen inclusief geometrie.</documentation>
    </annotation>
  </element>
  <complexType name="PlanEmissionSourceType">
    <complexContent>
      <extension base="IMAER:EmissionSourceTypeType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="emission" type="IMAER:EmissionPropertyType">
            <annotation>
              <documentation>Emissietypen van deze bron.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="plan" type="IMAER:PlanPropertyType">
            <annotation>
              <documentation>Specificatie van de plannen voor dit emissietype.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PlanEmissionSourcePropertyType">
    <sequence minOccurs="0">
      <element ref="IMAER:PlanEmissionSource"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ProjectMetadata" substitutionGroup="gml:AbstractObject" type="IMAER:ProjectMetadataType">
    <annotation>
      <documentation>Metadata over het vastgelegde project.
NOTE Met behulp van dit metadata object kan er projectinformatie over de emissiebronnen vastgelegd worden,</documentation>
    </annotation>
  </element>
  <complexType name="ProjectMetadataType">
    <sequence>
      <element name="year" type="integer">
        <annotation>
          <documentation>De AERIUS rekenkern maakt gebruik van GDN basisgegevens die jaarlijks worden aangepast. Dit attribuut geeft aan van welk jaar de basisgegevens gebruikt zijn bij de berekeningen.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="temporaryPeriod" type="integer">
        <annotation>
          <documentation>Duur van het project in jaren. (alleen in geval van tijdelijke projecten).</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="permitCalculationRadiusType" type="string">
        <annotation>
          <documentation>Afstandsgrenswaarde-type voor de Wet natuurbescherming</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="name" type="string">
        <annotation>
          <documentation>Naam van het beschreven project.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="corporation" type="string">
        <annotation>
          <documentation>Naam van de rechtspersoon die hoort bij het beschreven project.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="facilityLocation" type="IMAER:AddressPropertyType">
        <annotation>
          <documentation>De inrichtingslocatie van het project.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="description" type="string">
        <annotation>
          <documentation>Beschrijving van of toelichting bij het beschreven project.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ProjectMetadataPropertyType">
    <sequence>
      <element ref="IMAER:ProjectMetadata"/>
    </sequence>
  </complexType>
  <element name="ReceptorPoint" substitutionGroup="IMAER:CalculationPointType" type="IMAER:ReceptorPointType">
    <annotation>
      <documentation>Receptorpunt.
NOTE Deze klasse beschrijft een rekenpunt op het AERIUS-grid.</documentation>
    </annotation>
  </element>
  <complexType name="ReceptorPointType">
    <complexContent>
      <extension base="IMAER:CalculationPointTypeType">
        <sequence/>
        <attribute name="receptorPointId" type="integer" use="required">
          <annotation>
            <documentation>Identificatienummer van het receptorpunt.</documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReceptorPointPropertyType">
    <sequence minOccurs="0">
      <element ref="IMAER:ReceptorPoint"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ReductiveLodgingSystem" substitutionGroup="IMAER:LodgingSystem" type="IMAER:ReductiveLodgingSystemType">
    <annotation>
      <documentation>Extra reducerende staltechniek beschrijving.
NOTE Deze klasse beschrijft een extra staltechniek die bij een bestaande stal gebruikt kan worden, gebruik makend van een voorgedefinieerde code. Gebruik van dit systeem zorgt voor een reductie (percentage) voor alle dieren.</documentation>
    </annotation>
  </element>
  <complexType name="ReductiveLodgingSystemType">
    <complexContent>
      <extension base="IMAER:LodgingSystemType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReductiveLodgingSystemPropertyType">
    <sequence>
      <element ref="IMAER:ReductiveLodgingSystem"/>
    </sequence>
  </complexType>
  <element name="Result" substitutionGroup="gml:AbstractObject" type="IMAER:ResultType">
    <annotation>
      <documentation>Resultaat voor een rekunpunt.
NOTE Deze klasse beschrijft het resultaat voor een bepaalde stof/resultaattype combinatie voor een rekenpunt.</documentation>
    </annotation>
  </element>
  <complexType name="ResultType">
    <sequence>
      <element name="value" type="double">
        <annotation>
          <documentation>Resultaatwaarde.</documentation>
        </annotation>
      </element>
    </sequence>
    <attribute name="substance" type="IMAER:SubstanceType" use="required">
      <annotation>
        <documentation>Resultaatstof.</documentation>
      </annotation>
    </attribute>
    <attribute name="resultType" type="IMAER:ResultTypeType" use="required">
      <annotation>
        <documentation>Resultaattype.</documentation>
      </annotation>
    </attribute>
  </complexType>
  <complexType name="ResultPropertyType">
    <sequence>
      <element ref="IMAER:Result"/>
    </sequence>
  </complexType>
  <simpleType name="ResultTypeType">
    <annotation>
      <documentation>Lijst met verschillende types resultaten.
NOTE De AERIUS rekenkern kan verschillende resultaat types van emissies bepalen. Denk hierbij aan concentraties en deposities. Deze types zijn hier in een lijst vastgelegd.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="DEPOSITION">
        <annotation>
          <documentation>Depositie (mol/ha/j)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="CONCENTRATION">
        <annotation>
          <documentation>Concentratie (µg/m³)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RoadElevationType">
    <annotation>
      <documentation>Lijst met verschillende types verhogingen van een weg.
NOTE Bij berekenen van emissies voor wegverkeer in buitenstedelijk gebied kan rekening gehouden worden met de verhoging van de weg. (SRM2)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="NORMAL">
        <annotation>
          <documentation>dijk of wal met zeer vlakke zijkanten (hoek kleiner dan 20 graden).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NORMAL_DYKE">
        <annotation>
          <documentation>dijk of wal met vlakke zijkanten (hoek groter of gelijk aan 20  graden maar kleiner dan 45 graden).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="STEEP_DYKE">
        <annotation>
          <documentation>dijk of wal met scherpe zijkanten (hoek groter dan of gelijk aan 45 graden).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="VIADUCT">
        <annotation>
          <documentation>weg ligt op een viaduct.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="TUNNEL">
        <annotation>
          <documentation>weg ligt in een tunnelbak.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element abstract="true" name="RoadEmissionSource" substitutionGroup="IMAER:EmissionSourceType" type="IMAER:RoadEmissionSourceType">
    <annotation>
      <documentation>Emissiebron van een weg.
NOTE Deze klasse beschrijft een weg emissiebron inclusief geometrie.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="RoadEmissionSourceType">
    <complexContent>
      <extension base="IMAER:EmissionSourceTypeType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="emission" type="IMAER:EmissionPropertyType">
            <annotation>
              <documentation>Emissietypen van deze bron.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="vehicles" type="IMAER:VehiclePropertyType">
            <annotation>
              <documentation>Specificatie van wegvervoer voor dit emissietype.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="inNetwork" type="gml:ReferenceType">
            <annotation>
              <documentation>Geeft aan bij welk netwerk de weg hoort.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">IMAER:RoadNetwork</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">IMAER:element</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadEmissionSourcePropertyType">
    <sequence minOccurs="0">
      <element ref="IMAER:RoadEmissionSource"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadNetwork" substitutionGroup="IMAER:GeoObject" type="IMAER:RoadNetworkType">
    <annotation>
      <documentation>Een netwerk van wegen.
NOTE Deze klasse beschrijft een netwerk, waarbij meerdere elementen gegroupeerd kunnen worden.</documentation>
    </annotation>
  </element>
  <complexType name="RoadNetworkType">
    <complexContent>
      <extension base="IMAER:GeoObjectType">
        <sequence>
          <element name="identifier" type="IMAER:NEN3610IDPropertyType">
            <annotation>
              <documentation>Unieke identificatie van het netwerk binnen het domein van NEN 3610.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="label" type="string">
            <annotation>
              <documentation>Een optioneel label voor de emissiebron.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="element" type="gml:ReferenceType">
            <annotation>
              <documentation>Referenties naar alle elementen die horen bij het netwerk.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">IMAER:RoadEmissionSource</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">IMAER:inNetwork</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RoadNetworkPropertyType">
    <sequence minOccurs="0">
      <element ref="IMAER:RoadNetwork"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RoadSideBarrier" substitutionGroup="gml:AbstractObject" type="IMAER:RoadSideBarrierType">
    <annotation>
      <documentation>Karakteristieken van een scheiding(wal of scherm) aan de kant van de weg.
NOTE Een scherm/wal aan de kant van een weg is voorzien van een aantal karakteristieken, die in dit separate datatype zijn vastgelegd.</documentation>
    </annotation>
  </element>
  <complexType name="RoadSideBarrierType">
    <sequence>
      <element name="barrierType" type="IMAER:RoadSideBarrierTypeType">
        <annotation>
          <documentation>Type van deze scheiding.</documentation>
        </annotation>
      </element>
      <element name="height" type="double">
        <annotation>
          <documentation>Hoogte van deze scheiding.</documentation>
        </annotation>
      </element>
      <element name="distance" type="double">
        <annotation>
          <documentation>Afstand tot de weg van deze scheiding.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RoadSideBarrierPropertyType">
    <sequence>
      <element ref="IMAER:RoadSideBarrier"/>
    </sequence>
  </complexType>
  <simpleType name="RoadSideBarrierTypeType">
    <annotation>
      <documentation>Lijst met verschillende types scheidingen langs de weg.
NOTE Bij berekenen van emissies voor wegverkeer in buitenstedelijk gebied kan rekening gehouden worden met schermen en wallen langs de weg. (SRM2)</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="SCREEN">
        <annotation>
          <documentation>Een scherm (denk aan geluidsscherm).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="WALL">
        <annotation>
          <documentation>Een wal (denk aan geluidswal).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="SRM2LinearReference" substitutionGroup="IMAER:SimpleLinearReference" type="IMAER:SRM2LinearReferenceType">
    <annotation>
      <documentation>Gedeeltelijke wijziging in SRM2 attributen.
NOTE Deze klasse kan gebruikt worden om voor een gedeelte van de weg een of meerdere attributen een andere waarde te geven. Te gebruiken voor SRM2Road.</documentation>
    </annotation>
  </element>
  <complexType name="SRM2LinearReferenceType">
    <complexContent>
      <extension base="IMAER:SimpleLinearReferenceType">
        <sequence>
          <element minOccurs="0" name="isFreeway" type="boolean">
            <annotation>
              <documentation>Zie SRM2Road</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tunnelFactor" type="double">
            <annotation>
              <documentation>Zie SRM2Road</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="elevation" type="IMAER:RoadElevationType">
            <annotation>
              <documentation>Zie SRM2Road</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="elevationHeight" type="integer">
            <annotation>
              <documentation>Zie SRM2Road</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="barrierLeft" type="IMAER:RoadSideBarrierPropertyType">
            <annotation>
              <documentation>Zie SRM2Road</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="barrierRight" type="IMAER:RoadSideBarrierPropertyType">
            <annotation>
              <documentation>Zie SRM2Road</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SRM2LinearReferencePropertyType">
    <sequence>
      <element ref="IMAER:SRM2LinearReference"/>
    </sequence>
  </complexType>
  <element name="SRM2Road" substitutionGroup="IMAER:RoadEmissionSource" type="IMAER:SRM2RoadType">
    <annotation>
      <documentation>Emissiebron van een SRM2 weg.
NOTE Deze klasse beschrijft een weg emissiebron inclusief geometrie. Deze weg is bedoeld om volgens SRM2 door te rekenen. Onder SRM2 vallen wegen die niet onder SRM1 vallen, buitenstedelijke wegen en snelwegen.</documentation>
    </annotation>
  </element>
  <complexType name="SRM2RoadType">
    <complexContent>
      <extension base="IMAER:RoadEmissionSourceType">
        <sequence>
          <element name="isFreeway" type="boolean">
            <annotation>
              <documentation>Wel of geen snelweg.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="tunnelFactor" type="double">
            <annotation>
              <documentation>Voor een wegdeel dat direct aansluit op de uitrit van een tunnelbuis, die tenminste 100 meter lang is en waarbinnen sprake is van één rijrichting, worden de emissies tot op een afstand van 100 meter van de uitrit van een tunnelbuis verrekend met een factor. Dit is die factor. Indien geen sprake is van een tunnel, kan 1.0 gebruikt worden.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="elevation" type="IMAER:RoadElevationType">
            <annotation>
              <documentation>Verhogingstype van de weg.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="elevationHeight" type="integer">
            <annotation>
              <documentation>Verhoging van de weg (in meters).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="barrierLeft" type="IMAER:RoadSideBarrierPropertyType">
            <annotation>
              <documentation>De afscheiding aan de linkerkant van de weg.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="barrierRight" type="IMAER:RoadSideBarrierPropertyType">
            <annotation>
              <documentation>De afscheiding aan de rechterkant van de weg.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="partialChange" type="IMAER:SRM2LinearReferencePropertyType">
            <annotation>
              <documentation>Specificatie wijzigingen op een gedeelte van de weg. Mits opgegeven, dan wordt op dat gedeelte van de weg de standaaard waarde overschreven door hetgeen hier is opgegeven. Dit kan meerdere keren voorkomen.
Dit is een stukje Dynamic Segmentation of Linear Referencing.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SRM2RoadPropertyType">
    <sequence minOccurs="0">
      <element ref="IMAER:SRM2Road"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="ShippingType" substitutionGroup="IMAER:EmissionValueType" type="IMAER:ShippingTypeType">
    <annotation>
      <documentation>Abstracte basisklasse van een emissietype voor scheepvaart.
NOTE Ieder scheepvaart emissietype wordt beschreven aan de hand van een aantal karakteristieken. Deze abstracte basisklasse is een generalisatie van de verschillende typen in het model.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="ShippingTypeType">
    <complexContent>
      <extension base="IMAER:EmissionValueTypeType">
        <sequence>
          <element name="description" type="string">
            <annotation>
              <documentation>Omschrijving van dit type schip.</documentation>
            </annotation>
          </element>
        </sequence>
        <attribute name="shipType" type="string" use="required">
          <annotation>
            <documentation>Type schip.</documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ShippingTypePropertyType">
    <sequence>
      <element ref="IMAER:ShippingType"/>
    </sequence>
  </complexType>
  <element abstract="true" name="SimpleLinearReference" substitutionGroup="gml:AbstractObject" type="IMAER:SimpleLinearReferenceType">
    <annotation>
      <documentation>Gedeeltelijke wijziging in attributen voor een object.
NOTE Deze klasse kan gebruikt worden om voor een gedeelte van de weg een of meerdere attributen een andere waarde te geven. Alleen te gebruiken voor objecten gedefineerd door een LineString.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="SimpleLinearReferenceType">
    <sequence>
      <element name="fromPosition" type="double">
        <annotation>
          <documentation>Positie op het lijnstuk (decimale fractie 0-1) vanaf waar de waardes gaan gelden.</documentation>
        </annotation>
      </element>
      <element name="toPosition" type="double">
        <annotation>
          <documentation>Positie op het lijnstuk (decimale fractie 0-1) tot aan waar de waardes gelden.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SimpleLinearReferencePropertyType">
    <sequence>
      <element ref="IMAER:SimpleLinearReference"/>
    </sequence>
  </complexType>
  <element name="SituationMetadata" substitutionGroup="gml:AbstractObject" type="IMAER:SituationMetadataType">
    <annotation>
      <documentation>Metadata over de vastgelegde situatie.
NOTE Met behulp van dit metadata object kan er informatie over de situatie vastgelegd worden,</documentation>
    </annotation>
  </element>
  <complexType name="SituationMetadataType">
    <sequence>
      <element minOccurs="0" name="name" type="string">
        <annotation>
          <documentation>Naam van de lijst van bronnen van de beschreven situatie.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="reference" type="string">
        <annotation>
          <documentation>Referentie van de beschreven situatie.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="SituationMetadataPropertyType">
    <sequence>
      <element ref="IMAER:SituationMetadata"/>
    </sequence>
  </complexType>
  <element name="SpecificVehicle" substitutionGroup="IMAER:Vehicle" type="IMAER:SpecificVehicleType">
    <annotation>
      <documentation>Karakteristieken van een specifieke type voertuigen met een klasse.
NOTE Ieder wegvervoer emissietype wordt beschreven aan de hand van een aantal karakteristieken, die in dit separate datatype zijn vastgelegd.</documentation>
    </annotation>
  </element>
  <complexType name="SpecificVehicleType">
    <complexContent>
      <extension base="IMAER:VehicleType">
        <sequence/>
        <attribute name="vehicleType" type="string" use="required">
          <annotation>
            <documentation>De klasse van deze mobiel voertuigen.</documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpecificVehiclePropertyType">
    <sequence>
      <element ref="IMAER:SpecificVehicle"/>
    </sequence>
  </complexType>
  <element name="SpecifiedHeatContent" substitutionGroup="IMAER:HeatContent" type="IMAER:SpecifiedHeatContentType">
    <annotation>
      <documentation>Dit datatype beschrijft de warmteinhoud wanneer deze door het bekend is.
NOTE Deze klasse kan gebruikt worden als de warmteinhoud van een emissiebron bekend is.</documentation>
    </annotation>
  </element>
  <complexType name="SpecifiedHeatContentType">
    <complexContent>
      <extension base="IMAER:HeatContentType">
        <sequence>
          <element name="value" type="double">
            <annotation>
              <documentation>Warmteinhoud van de emissiebron in Megawatt.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpecifiedHeatContentPropertyType">
    <sequence>
      <element ref="IMAER:SpecifiedHeatContent"/>
    </sequence>
  </complexType>
  <element name="StandardFarmLodging" substitutionGroup="IMAER:FarmLodging" type="IMAER:StandardFarmLodgingType">
    <annotation>
      <documentation>Algemene stal beschrijving.
NOTE Deze klasse beschrijft een algemene stal, gebruik makend van een voorgedefinieerde stalcode.</documentation>
    </annotation>
  </element>
  <complexType name="StandardFarmLodgingType">
    <complexContent>
      <extension base="IMAER:FarmLodgingType">
        <sequence>
          <element minOccurs="0" name="farmLodgingSystemDefinitionType" type="string">
            <annotation>
              <documentation>Vaststaande (BWL) code die aangeeft om wat voor staltechniek het gaat.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="fodderMeasure" type="IMAER:LodgingFodderMeasurePropertyType">
            <annotation>
              <documentation>Specificatie van de extra voer maatregelen die gebruikt zijn voor deze stal.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lodgingSystem" type="IMAER:LodgingSystemPropertyType">
            <annotation>
              <documentation>Specificatie van de extra (additionele of reducerende) staltechnieken die gebruikt zijn voor deze stal.</documentation>
            </annotation>
          </element>
        </sequence>
        <attribute name="farmLodgingType" type="string" use="required">
          <annotation>
            <documentation>Vaststaande (RAV) code die aangeeft om wat voor stalsoort het gaat.</documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StandardFarmLodgingPropertyType">
    <sequence>
      <element ref="IMAER:StandardFarmLodging"/>
    </sequence>
  </complexType>
  <element name="StandardOffRoadMobileSource" substitutionGroup="IMAER:OffRoadMobileSource" type="IMAER:StandardOffRoadMobileSourceType">
    <annotation>
      <documentation>Karakteristieken van een emissietype voor mobiele werktuigen.
NOTE Mobiele werktuig worden beschreven aan de hand van een aantal karakteristieken. Deze zijn in dit datatype zijn vastgelegd.</documentation>
    </annotation>
  </element>
  <complexType name="StandardOffRoadMobileSourceType">
    <complexContent>
      <extension base="IMAER:OffRoadMobileSourceType">
        <sequence>
          <element name="literFuelPerYear" type="integer">
            <annotation>
              <documentation>Liter brandstof (gesommeerd) dat dit type voertuig per jaar verbruikt.</documentation>
            </annotation>
          </element>
        </sequence>
        <attribute name="offRoadMobileSourceType" type="string" use="required">
          <annotation>
            <documentation>De klasse van dit mobiele werktuig.</documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StandardOffRoadMobileSourcePropertyType">
    <sequence>
      <element ref="IMAER:StandardOffRoadMobileSource"/>
    </sequence>
  </complexType>
  <element name="StandardVehicle" substitutionGroup="IMAER:Vehicle" type="IMAER:StandardVehicleType">
    <annotation>
      <documentation>Karakteristieken van een standaard klasse wegvervoer.</documentation>
    </annotation>
  </element>
  <complexType name="StandardVehicleType">
    <complexContent>
      <extension base="IMAER:VehicleType">
        <sequence>
          <element name="stagnationFactor" type="double">
            <annotation>
              <documentation>Fractie van het verkeer dat stagneert.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="maximumSpeed" type="integer">
            <annotation>
              <documentation>Maximum snelheid in kilometers per uur.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="strictEnforcement" type="boolean">
            <annotation>
              <documentation>Wel of geen strikte handhaving van de snelheid.</documentation>
            </annotation>
          </element>
        </sequence>
        <attribute name="vehicleType" type="IMAER:StandardVehicleTypeType" use="required">
          <annotation>
            <documentation>Type voertuig.</documentation>
          </annotation>
        </attribute>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StandardVehiclePropertyType">
    <sequence>
      <element ref="IMAER:StandardVehicle"/>
    </sequence>
  </complexType>
  <simpleType name="StandardVehicleTypeType">
    <annotation>
      <documentation>Lijst met verschillende voertuigtypen.
NOTE de AERIUS rekenkern kan emissies berekenen voor een aantal voertuigtypen, die hier in een lijst zijn vastgelegd.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="LIGHT_TRAFFIC">
        <annotation>
          <documentation>Licht verkeer.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NORMAL_FREIGHT">
        <annotation>
          <documentation>Middelzwaar vrachtverkeer.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="HEAVY_FREIGHT">
        <annotation>
          <documentation>Zwaar vrachtverkeer.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AUTO_BUS">
        <annotation>
          <documentation>Busverkeer.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SubstanceType">
    <annotation>
      <documentation>Lijst met verschillende stofnamen.
NOTE de AERIUS rekenkern kan emissies berekenen voor een aantal stoffen, die hier in een lijst zijn vastgelegd.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="NH3">
        <annotation>
          <documentation>Stof NH3 (ammoniak).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NOX">
        <annotation>
          <documentation>Stof NOx (stikstofoxiden).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="NO2">
        <annotation>
          <documentation>Stof NO2 (stikstofdioxide).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PM10">
        <annotation>
          <documentation>Stof PM10 (fijnstof).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="PM25">
        <annotation>
          <documentation>Stof PM2.5 (fijnstof).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="TimeUnitType">
    <annotation>
      <documentation>Lijst met verschillende tijdseenheden.
NOTE de AERIUS rekenkern kan emissies berekenen op basis van tijdseenheden, die hier in een lijst zijn vastgelegd.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="HOUR"/>
      <enumeration value="DAY"/>
      <enumeration value="MONTH"/>
      <enumeration value="YEAR"/>
    </restriction>
  </simpleType>
  <element abstract="true" name="Vehicle" substitutionGroup="IMAER:EmissionValueType" type="IMAER:VehicleType">
    <annotation>
      <documentation>Karakteristieken van een emissietype wegvervoer.
NOTE Ieder wegvervoer emissietype wordt beschreven aan de hand van een aantal karakteristieken, die in dit separate datatype zijn vastgelegd.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="VehicleType">
    <complexContent>
      <extension base="IMAER:EmissionValueTypeType">
        <sequence>
          <element name="vehiclesPerTimeUnit" type="double">
            <annotation>
              <documentation>Aantal voertuigen per tijdseenheid.</documentation>
            </annotation>
          </element>
          <element name="timeUnit" type="IMAER:TimeUnitType">
            <annotation>
              <documentation>Tijdseenheid voor het aantal voertuigen.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VehiclePropertyType">
    <sequence>
      <element ref="IMAER:Vehicle"/>
    </sequence>
  </complexType>
  <element name="VersionMetadata" substitutionGroup="gml:AbstractObject" type="IMAER:VersionMetadataType">
    <annotation>
      <documentation>Metadata over gebruikte versies.
NOTE Dit data type bevat de versies die gebruikt zijn om tot de data te komen.</documentation>
    </annotation>
  </element>
  <complexType name="VersionMetadataType">
    <sequence>
      <element name="aeriusVersion" type="string">
        <annotation>
          <documentation>Versienummer van de AERIUS rekenkern.</documentation>
        </annotation>
      </element>
      <element name="databaseVersion" type="string">
        <annotation>
          <documentation>Versienummer van de AERIUS database.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="VersionMetadataPropertyType">
    <sequence>
      <element ref="IMAER:VersionMetadata"/>
    </sequence>
  </complexType>
  <simpleType name="WaterwayDirectionTypeType">
    <annotation>
      <documentation>Keuzemogelijkheden voor de stroom richting van routes voor binnenvaart schepen.
NOTE Per binnenvaart route kan de stroming meetellen voor de emissiefactoren, afhankelijk van het waterweg type. Indien niet relevant, dan wordt de stroomrichting in de tekenrichting bepaald.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="IRRELEVANT">
        <annotation>
          <documentation>Stroming is niet van belang.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="UPSTREAM">
        <annotation>
          <documentation>Tegen de stroom in.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DOWNSTREAM">
        <annotation>
          <documentation>Met de stroom mee.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
